<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-title>Casa</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content>
    <ion-item>
        <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-text class="ion-padding">
            <div>Spaghetti</div>
            <div style="color: var(--ion-color-secondary); font-size:0.9em;">barilla n.5</div>
            <div style="color: var(--ion-color-secondary); font-size:0.9em;">550g</div>
        </ion-text>

        <div slot="end">
            <div class="ion-text-center" style="max-height:1em;">
                <ion-icon name="chevron-up-outline" style="font-size:1em; color:#888;"></ion-icon>
            </div>
            <div>
                <ion-label class="ion-text-center" style=" font-size:1.8em; color: var(--ion-color-primary);">1</ion-label>
            </div>
            <div class="ion-text-center" style="max-height:1em; font-size:1em;">
                <ion-icon name="chevron-down-outline" style="font-size:1em; color:#888;"></ion-icon>
            </div>
        </div>
    </ion-item>
    <ion-item>
        <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-text class="ion-padding">
            <div>Spaghetti</div>
            <div style="color: var(--ion-color-secondary); font-size:0.9em;">barilla n.5</div>
            <div style="color: var(--ion-color-secondary); font-size:0.9em;">550g</div>
        </ion-text>

        <div slot="end">
            <div class="ion-text-center" style="max-height:1em;">
                <ion-icon name="chevron-up-outline" style="font-size:1em; color:#888;"></ion-icon>
            </div>
            <div>
                <ion-label class="ion-text-center" style=" font-size:1.8em; color: var(--ion-color-primary);">1</ion-label>
            </div>
            <div class="ion-text-center" style="max-height:1em; font-size:1em;">
                <ion-icon name="chevron-down-outline" style="font-size:1em; color:#888;"></ion-icon>
            </div>
        </div>
    </ion-item>
    <ion-item>
        <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-text class="ion-padding">
            <div>Spaghetti</div>
            <div style="color: var(--ion-color-secondary); font-size:0.9em;">barilla n.5</div>
            <div style="color: var(--ion-color-secondary); font-size:0.9em;">550g</div>
        </ion-text>

        <div slot="end">
            <div class="ion-text-center" style="max-height:1em;">
                <ion-icon name="chevron-up-outline" style="font-size:1em; color:#888;"></ion-icon>
            </div>
            <div>
                <ion-label class="ion-text-center" style=" font-size:1.8em; color: var(--ion-color-primary);">1</ion-label>
            </div>
            <div class="ion-text-center" style="max-height:1em; font-size:1em;">
                <ion-icon name="chevron-down-outline" style="font-size:1em; color:#888;"></ion-icon>
            </div>
        </div>
    </ion-item>

        <!-- fab placed to the top end -->
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button routerLink="search">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>

</ion-content>
