<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title class="ion-text-center" color="primary">
            Smartshop
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large" class="ion-text-center">SUPER SHOP</ion-title>
        </ion-toolbar>
    </ion-header>

<ion-content>



    <div class="scrolling-wrapper">
        <div class="titolo">Da bere</div>

        <ion-card class="card">
            <img style="width: 100%;" src="https://www.drinkstuff.com/productimg/153669_large.jpg" alt="" srcset="">
            <ion-card-content>
                <ion-label slot="start"> Birra</ion-label>
                <ion-label style="margin-left:1.5em; color: green" slot="end">2.50$</ion-label>
            </ion-card-content>
        </ion-card>


        <ion-card class="card">
            <img style="width: 100%;" src="https://www.drinkstuff.com/productimg/153669_large.jpg" alt="" srcset="">
            <ion-card-content>
                <ion-label slot="start"> Birra</ion-label>
                <ion-label style="margin-left:1.5em; color: green" slot="end">2.50$</ion-label>
            </ion-card-content>
        </ion-card>

        <ion-card class="card">
            <img style="width: 100%;" src="https://www.drinkstuff.com/productimg/153669_large.jpg" alt="" srcset="">
            <ion-card-content>
                <ion-label slot="start"> Birra</ion-label>
                <ion-label style="margin-left:1.5em; color: green" slot="end">2.50$</ion-label>
            </ion-card-content>
        </ion-card>


        <ion-card class="card">
            <img style="width: 100%;" src="https://www.drinkstuff.com/productimg/153669_large.jpg" alt="" srcset="">
            <ion-card-content>
                <ion-label slot="start"> Birra</ion-label>
                <ion-label style="margin-left:1.5em; color: green" slot="end">2.50$</ion-label>
            </ion-card-content>
        </ion-card>


    </div>







</ion-content>
