
<ion-card>

  <ion-card-header>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="{{listOfCards.avatar}}"/>
      </ion-avatar>

      <ion-button slot="end" (click)="deleteCard(listOfCards.id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-card-header>

  <ion-card-content routerLink="{{listOfCards.id}}">

    <div class="container content">
      <h1 class="child">{{listOfCards.name}}</h1>

      <ul class="container">
        <li class="child products" *ngFor="let product of listOfCards.products"> {{product.name}}</li>
      </ul>
    </div>


    <ion-item lines="none">
      <ion-label slot="start" *ngIf="listOfCards.total">
        {{listOfCards.total}} $
      </ion-label>


      <ion-item lines="none" *ngFor="let user of listOfCards.users">
        <ion-avatar style="margin:0.1em; height: 1.5em; width:1.5em;" slot="end">
          <img src="{{user.avatar}}">
        </ion-avatar>
      </ion-item>

      <ion-button slot="end">
        <ion-icon name="share-social"></ion-icon>
      </ion-button>

    </ion-item>

  </ion-card-content>

</ion-card>


