<router-outlet></router-outlet>

<ion-card routerLink="1" style="border-radius:0.7em;">
  <ion-item>
    <ion-avatar slot="start">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Mario Rossi</ion-label>
    <ion-icon slot="end" name="trash-outline" color="primary"></ion-icon>

  </ion-item>

  <div style="height:12em; background-color:darkorange; display: flex; " class="ion-text-center" >
    <div style="margin: auto; text-align: center; color:#fff; font-size:1.3em;">
      Spesa di casa<br>
      <p align="left">
        oggetto<br>
        pesce<br>
        ...
      </p>
    </div>
  </div>

  <ion-card-content class="ion-no-margin ion-no-padding">
    <ion-item lines="none" class="ion-no-margin ion-no-padding"  style="padding-left:0.5em;">
      <ion-label style="color:#b14036; padding-left:0.5em;">330 €</ion-label>
      <ion-avatar style="margin:0.1em; height: 1.5em; width:1.5em;" slot="end">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-avatar style="margin:0.1em; height: 1.5em; width:1.5em;" slot="end">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-avatar style="margin:0.1em; height: 1.5em; width:1.5em;" slot="end">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-icon slot="end" name="share-social-outline" color="primary" slot="end"></ion-icon>
    </ion-item>
  </ion-card-content>

</ion-card>


