
<ion-card>

  <ion-card-header>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fweb.richmond.k12.va.us%2Fportals%2F14%2Fassets%2Fimages%2Fuser-avatar-placeholder.png&f=1&nofb=1"/>
      </ion-avatar>

        <ion-icon slot="end" color="primary" name="trash" (click)="deleteCard(listOfCards.id)"></ion-icon>
    </ion-item>
  </ion-card-header>

  <ion-card-content>
    <!--  passo il nome della lista nella query -->
    <div class="container content" [routerLink]="listOfCards.id" [queryParams]="{ name: listOfCards.name }">
      <h1 class="child">{{listOfCards.name}}</h1>

      <ul class="container">
        <li class="child products" *ngFor="let product of listOfCards.products"> {{product.name}}</li>
      </ul>
    </div>


    <ion-item lines="none">
      <ion-label slot="start" *ngIf="listOfCards.total">
        {{listOfCards.total}} $
      </ion-label>


      <ion-item lines="none" *ngFor="let user of listOfCards.users">
        <ion-avatar slot="end">
          <img src="{{user.avatar}}">
        </ion-avatar>
      </ion-item>

        <ion-icon name="share-social"  slot="end" (click)="presentPopover($event, listOfCards.id)"></ion-icon>

    </ion-item>

  </ion-card-content>

</ion-card>


