<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" color="primary">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Crea la tua lista</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div style="display:flex; flex-direction: column; justify-content: center; height: 100%;">
    <ion-item>
      <ion-input #list placeholder="Nome lista" autofocus="true" class="ion-text-center" ></ion-input>
    </ion-item>
  </div>
</ion-content>

<ion-footer class="ion-no-border ion-margin-bottom">
  <div class="ion-margin" style="display:flex; flex-direction: column; justify-content: center; height: 100%;">
    <ion-button size="medium" class="ion-margin primary-button" color="transparent" (click)="sendData(list.value)">Aggiungi lista</ion-button>
  </div>
</ion-footer>




