

<ion-content>
  <div style="display:flex; flex-direction: column; justify-content: center; height: 100%;">

    <ion-item lines="none" >
      <ion-label class="title ion-text-center" >Ben tornato</ion-label>
    </ion-item>
    <ion-item class="ion-margin ion-email">
      <ion-input placeholder="Email" type="email" autofocus="true"  required="true" minlength="10" maxlength="254" class="ion-text-center"></ion-input>
    </ion-item>
    <ion-item class="ion-margin password">
      <ion-input placeholder="Password" type="password" required="true" minlength="8" maxlength="16" class="ion-text-center"></ion-input>
    </ion-item>

  </div>

</ion-content>

<ion-footer class="ion-no-border ion-margin-bottom">
  <div class="ion-margin" style="display:flex; flex-direction: column; justify-content: center; height: 100%;">
    <ion-button size="medium" class="ion-margin" color="transparent">Login</ion-button>

    <ion-item lines="none">
      <a routerLink="/registration">Registrami</a>
    </ion-item>
    <ion-item lines="none">
      <a routerLink="/reset">Ho dimenticato la password</a>
    </ion-item>

  </div>
</ion-footer>
