

<ion-content>
  <ion-card>
    <ion-item >
      <ion-thumbnail slot="start" style="--border-radius:2em;">
        <img  src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    <div style="height:12em; background-color:darkorange; display: flex; margin: auto; " class="ion-text-center" >
      <div style="margin: auto; text-align: center; color:#fff; font-size:1.3em;">
        Spesa di casa<br>
        oggetto 1
        oggetto 2
      </div>
    </div>


  <ion-item id="test">
    <p id="mm"> as</p>
    <ion-avatar >
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </ion-item>

  </ion-card>


</ion-content>
