

<ion-content>
  <ion-card>
    <ion-item>
      <ion-thumbnail slot="start" style="--border-radius:2em;">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label>Item Thumbnail</ion-label>
    </ion-item>
    <div style="height:12em; background-color:darkorange; display: flex; margin: auto; " class="ion-text-center" >
      <div style="margin: auto; text-align: center; color:#fff; font-size:1.3em;">
        Spesa di casa<br>
        oggetto 1
        oggetto 2
      </div>
    </div>


    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>


</ion-content>
