

<ion-content>
    <div style="display:flex; flex-direction: column; justify-content: center; height: 100%;">
        <ion-item lines="none">
            <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y%22%3E" />
            </ion-avatar>
        </ion-item>

        <ion-item lines="none">
            <ion-label class="username">Mario Rossi</ion-label>
        </ion-item>

        <ion-item lines="none">
            <ion-label class="mail">mariorossi@mail.com</ion-label>
        </ion-item>
        <div class="ion-margin">
            <ion-item lines="none">
                <ion-label >Notifiche offerte</ion-label>
                <ion-toggle slot="end"></ion-toggle>
            </ion-item>
            <ion-item lines="none">
                <ion-label >Notifiche sulle liste</ion-label>
                <ion-toggle slot="end"></ion-toggle>
            </ion-item>
        </div>

    </div>
</ion-content>

<ion-footer class="ion-no-border ion-margin-bottom">
    <div style="display:flex; flex-direction: column; justify-content: center; height: 100%;">

    <ion-button size="medium" class="ion-margin" color="transparent">Logout</ion-button>

    <ion-item lines="none">
        <a routerLink="/reset" >Reset Password</a>
    </ion-item>
    </div>
</ion-footer>