ion-item{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
ion-avatar{
  width:10em;
  height:10em;
}

.username{
  font-size: 1.5em;
}

.mail{
  font-size:1em;
  color: var(--ion-color-tertiary);
}

ion-button{
  border: 1px solid var(--ion-color-primary);
  border-radius: 0.5em;
  color: var(--ion-color-primary);
  --box-shadow:none;
}

a{
  font-size: 0.9em;
  text-decoration: none;
}

.notifiche-offerte, .notifiche-liste{
  color: var(--ion-color-tertiary);
}
